@tailwind base;
@tailwind components;
@tailwind utilities;

#page_content {
    color: green;
}

.maincont {
    background-color: white;
    border-radius: 1rem;
    border-color: black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
